.bar {
    border-top: none;
}

.bar-background {
    height: 100%;
    width: 100%;
    opacity: 1;
    border-top: 3px solid white;
}

.bar-content {
    position: relative;
    left: 80px;
    top: 16px;
    text-align: center;
}

.bar-content div:nth-of-type(1) {
    color: white;
    font-size: 199px;
}

.bar-content div:nth-of-type(2) {
    color: #f3af19;
    font-size: 97px;
    position: relative;
    top: -34px;
}

.cosmetic > div {
    font-size: 105px !important;
}

#members {
    display: inline;
    width: 422px;
    overflow-y: scroll;
    height: 630px;
}

.icon {
    width: 400px;
    height: 400px;
}

.icon img:nth-of-type(1) {
    width: 400px;
    height: 400px;
}

.icon div:nth-of-type(1) {
    font-size: 54px;
    overflow: visible;
    margin-left: 0px;
    display: inline;
    width: 100%;
    left: 0;
}

.members-container {
    width: 196%;
    height: 50%;
}